main > .container {
    padding: 40px 0;
}

main section.regular-posts {
    margin: 0 10%;
    padding: 40px 0;
}

main section.regular-posts .post {
    margin-top: 30px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}

main section.regular-posts .post > .category-link {
    font-weight: bold;
    color: #DC3543;
}

main section.regular-posts .post:first-child {
    margin-top: 0;
}

main section.regular-posts .post:last-child {
    border-bottom: 0;
}
